ZCCUSAN_MANAGEMENT_CHECKIN_ENABLED=true
ZCCUSAN_MANAGEMENT_CHECKIN_URL=
ZCCUSAN_SURVEY_ENABLED=true
ZCCUSAN_SURVEY_BACKEND_URL=https://vdq4ma9dl2.execute-api.us-east-1.amazonaws.com/survey
ZCCUSAN_TELEMETRY_UPSTREAM_URL=
